{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<title>Registration</title>
  
</head>
<body>
	<div class="container mt-5">
		{% for message in messages %}
		<p class="text-center text-gray">{{ message }}</p>
		{% endfor %}

		<!-- Material form register -->
		<div class="card" style="width: 45%; margin-left: 30%;">
		<h5 class="card-header bg-info text-white text-center py-4"><strong>REGISTER ACCOUNT</strong></h5>

		<!-- card content -->
		<div class="card-body px-lg-5 pt-0">
			<!-- form -->
			<form action="/accounts/register/" method="post" class="text-center" style="color: #757575">
				{% csrf_token %}

				<!-- first name -->
				<div class="md-form mt-3">
					<input type="text" class="form-control" name="first_name" placeholder="First Name" required>
				</div>

				<!--  last name -->
				<div class="md-form mt-3">
					<input type="text" class="form-control" name="last_name" placeholder="Last Name">
				</div> 

				<!-- email -->
				<div class="md-form mt-3">
					<input type="email" class="form-control" name="email" placeholder="Enter Email" required>
				</div>

				<!-- username -->
				<div class="md-form mt-3">
					<input type="text" class="form-control" name="username" placeholder="Username" required>
				</div>

				<!-- password -->
				<div class="md-form mt-3">
					<input type="password" class="form-control" name="password" placeholder="Enter Password" required>
				</div>

				<!-- sign in button -->
				<button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Register</button>

				<!-- Log in -->
				<p>If already member
					<a href="{% url 'accounts:login' %}">Login</a>
				</p>

				<!-- Social login -->
				<p>or sign in with</p>
				<a href="" type="button" class="btn-floating btn-fb btn-sm">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="" type="button" class="btn-floating btn-tw btn-sm">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" type="button" class="btn-floating btn-li btn-sm">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="https://github.com/" type="button" class="btn-floating btn-git btn-sm">
					<i class="fab fa-github"></i>
				</a>
			</form>
		</div>
	</div>
	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>